.head1 {
    font-size: 22px;
    text-align: center;
    margin-top: 0px;
}

.par {
    text-align: justify;
    text-indent: 40px;
}

.font1 {
    font-size: 18px;
    margin-top: 20px
}

.font2 {
    font-size: 20px;
    margin-top: 20px
}

.font16 {
    font-size: 16px;
}

.tab2 {
    text-indent: 40px;
}

.tab {
    margin-left: 40px;
}

p {
    margin: 0;
}

h2 {
    margin: 0;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.text-white {
    color: #FFFFFF;
}

.tableborder {
    border-color: rgb(0, 255, 0)
}

.no1 {
    width: 55%;
    float: left;
}

.no2 {
    width: 45%;
    float: left;
}

.par2 {
    text-align: justify;
    text-indent: 10px;
    font-size: 18px;
}

.par3 {
    text-align: justify;
    text-indent: 10px;
    margin-top: -10px;
    font-size: 18px;
}

.par4 {
    text-align: justify;
    text-indent: 10px;
    font-size: 18px;
}

.par5 {
    text-align: justify;
    text-indent: 40px;
    font-size: 22px;
    margin-top: -5px
}

.par6 {
    text-align: justify;
    text-indent: 80px;
    font-size: 22px;
    margin-top: -5px
}

.table {
    border-collapse: collapse;
}

.t,
.th,
.td {
    border: 1px solid black;
}

#choice td {
    text-align: center;
    width: 70px;
}

#Evaluation {
    width: 100%;
}

#Evaluation tr td {
    padding: 5px;
}

.notic {
    font-size: 18px !important;
}

.notic-b {
    font-size: 18px !important;
    font-weight: bold !important;
}